@import url("chrome://GiT-addonbar-global/skin/addonbar.css");

#GiT-addon-bar {
  -moz-appearance: none;
  min-height: 20px;
  border-top-style: none;
  border-bottom-style: none;
  padding-top: 1px;
  background-image: linear-gradient(rgba(0,0,0,.15) 1px, rgba(255,255,255,.15) 1px);
  background-size: 100% 2px;
  background-repeat: no-repeat;
}

#GiT-addon-bar[compact="true"] toolbarbutton {
	-moz-appearance: none;
	border: none;
}

#GiT-addon-bar[compact="true"] .toolbarbutton-1:not([disabled]):hover,
#GiT-addon-bar[compact="true"] .toolbarbutton-1[open],
#GiT-addon-bar[compact="true"] .toolbarbutton-1 > .toolbarbutton-menubutton-button:not([disabled]):hover {
	-moz-appearance: none;
  background-image: linear-gradient(to top, transparent, rgba(0,0,0,.15)),
                    linear-gradient(to top, transparent, rgba(0,0,0,.15) 30%),
                    linear-gradient(to top, transparent, rgba(0,0,0,.15) 30%);
  background-position: left, left, right;
  background-size: auto, 1px 100%, 1px 100%;
  background-repeat: no-repeat;
}

#status-bar {
	min-width: 0px;
	min-height: 0px;
	display: -moz-box;
	-moz-appearance: none;
	border: none;
	background: none;
}
